@import "../../shared/scss/globals";
@import "../../shared/scss/cursor";

main.content {
  color: #fff;
  #dna-bg-video {
    min-height: 100%;
    min-width: 100%;
  }
  svg.section-head {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    text {
      font: normal 3.5rem "Open Sans";
      fill: #fff;
      opacity: 0.3;
    }
  }
  h1 {
    top: 50vh;
    left: 6vw;
    position: absolute;
  }
  p {
    top: 65vh;
    left: 6vw;
    position: absolute;
  }
}
