@import "../../shared/scss/globals";
@import "../../shared/scss/cursor";
@import "../../shared/scss/menu";
@import "../../shared/scss/nav-logo";
@import "../../shared/scss/page-head";

@keyframes fade-to-view {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.dna-home-logo {
  animation: fade-to-view 2s ease-in 2s forwards;
}

.text-center {
  text-align: center;
}

html,
body {
  height: 110vh;
}

html {
  overflow-y: visible;
}

main.content {
  height: 110vh;
  color: #fff;

  #dna-bg-video {
    opacity: 0;
    animation: fade-to-view 2s ease-in 5s forwards;
    min-height: 100%;
    min-width: 100%;
  }

  div.logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h4.lead-text {
    display: inline-block !important;
    position: fixed;
    margin-left: 8vw;

    &:nth-child(2) {
      //margin-top: -100vh;
    }
    &:nth-child(3) {
      //margin: 0;
      //margin-top: -100vh;
    }
  }
}
