html,
body {
  height: 100vh;
  //overflow: hidden;
  background: #000;
  cursor: none;
  pointer-events: none;
  //-ms-overflow-style: none;
  //scrollbar-width: none;
  //&::-webkit-scrollbar {
  //display: none;
  //}
  user-select: none;
}
