@import url(https://fonts.googleapis.com/css?family=Open+Sans&display=swap);

html,
body {
  height: 100vh;
  overflow: hidden;
  background: #000;
  cursor: none;
  pointer-events: none;
}

button {
  pointer-events: auto;
  cursor: none;
}

@media screen and (min-width: 993px) {
  cursor: auto;
  pointer-events: auto;
}
