.dna-logo {
  position: absolute;
  background: transparent;
  height: 60px;
  margin-top: 2vh;
  margin-left: 8vw;
  pointer-events: auto;
  cursor: none;
}

.dna-home-logo {
  display: block;
  width: 100%;
  position: absolute;
  background: transparent;
  height: 30vh;
  top: 40vh;
  pointer-events: auto;
  cursor: none;
}
