.dna-logo {
  position: absolute;
  background: transparent;
  height: 60px;
  margin-top: 2vh;
  margin-left: 8vw;
  pointer-events: auto;
  cursor: none;
  z-index: 300;
}

.dna-home-logo {
  display: inline-block;
  opacity: 0;
  position: fixed;
  background: transparent;
  height: 26vh;
  top: 37vh;
  pointer-events: auto;
  cursor: none;
}
