@import "../../shared/scss/globals";
@import "../../shared/scss/cursor";
@import "../../shared/scss/menu";
@import "../../shared/scss/nav-logo";
@import "../../shared/scss/page-head";

main.content {
  color: #fff;
  .text-center {
    text-align: center;
  }

  #dna-bg-video {
    min-height: 100%;
    min-width: 100%;
  }

  svg.section-head {
    position: absolute;
    top: 0;
    left: 0;
    text {
      font: bold 2rem "Open Sans";
      fill: #fff;
      opacity: 0.1;
    }
  }

  h1 {
    position: absolute;
    line-height: 1.5;
    margin-left: 10vw;
    top: 25vh;
    span {
      margin-left: 15vw;
    }
  }

  form {
    top: 60vh;
    display: flex;
    width: 100%;
    position: absolute;
    overflow-wrap: break-word;
    align-items: center;
    justify-content: center;

    .form-wrapper {
      input {
        display: inline-flex;
        width: 50vw;
        padding-bottom: 10px;
        font-size: 20px;
        color: #fff;
        background: transparent;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-bottom: 1px solid #fff;
        vertical-align: bottom;
        pointer-events: auto;
        cursor: none;

        &::placeholder {
          color: rgba(#fff, 0.3);
        }
      }

      button {
        display: inline-flex;
        align-self: right;
        align-content: right;
        margin-top: 3vh;
        padding: 10px;
        pointer-events: auto;
        cursor: none;
        color: #fff;
        background: transparent;
        border: 1px solid #fff;
        border-radius: 5px;

        &:hover {
          background: rgba(255, 255, 255, 0.3);
        }
      }
    }
  }
}
.social-media-sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50vh;
  left: 8vw;

  a {
    display: inline-flex;
    pointer-events: auto;
    cursor: none;

    &:nth-child(1),
    &:nth-child(2) {
      margin-bottom: 3vh;
    }

    svg {
      path {
        fill: rgba(#fff, 0.2);
      }
      circle {
        stroke: rgba(#fff, 0.2);
        fill: none;
      }
    }
    &:hover {
      svg {
        path {
          fill: #fff;
        }
        circle {
          stroke: #fff;
        }
      }
    }

    svg {
      height: 8vh;
    }
  }
}
