// Bootstrap Grid & Reboot Modules
@import "../../shared/scss/bootstrap/functions";
@import "../../shared/scss/bootstrap/variables";
@import "../../shared/scss/bootstrap/mixins";
@import "../../shared/scss/bootstrap/reboot";
@import "../../shared/scss/bootstrap/grid";
@import "../../shared/scss/bootstrap/type";
@import "../../shared/scss/bootstrap/buttons";
@import "../../shared/scss/bootstrap/utilities/display";
@import "../../shared/scss/bootstrap/utilities/flex";
@import "../../shared/scss/bootstrap/utilities/spacing";

// Custom Bootstrap Styles
@import "../../shared/scss/globals";
@import "../../shared/scss/cursor";
@import "../../shared/scss/menu";
@import "../../shared/scss/nav-logo";
@import "../../shared/scss/page-head";

html,
body {
  height: auto;
  overflow-y: auto;
}

main.content {
  color: #fff;
  .text-center {
    text-align: center;
  }

  #dna-bg-video {
    display: block;
    z-index: 20;
    margin-top: 14vh;
    max-width: 66vw;
    margin-left: 17vw;
    border: 1px solid rgba(#fff, 0.3);
  }

  .text-center {
    margin-top: -25vh;
    display: inline-block;
    background: lighten(#000, 5%);
    width: 60vw;
    margin-left: 20vw;
    overflow-wrap: break-word;
    padding-bottom: 10vh;

    h1 {
      display: block;
      width: 100%;
    }

    button {
      display: inline-block;
      margin-top: 3vh;
      padding: 10px;
      pointer-events: auto;
      cursor: none;
      color: #fff;
      background: transparent;
      border: 1px solid #fff;
      border-radius: 5px;

      &:hover {
        background: rgba(255, 255, 255, 0.3);
      }
    }
  }
  .modal-form {
    width: 80vw;
    margin-left: 10vw;
  }
}
